.container{
    max-width: 1200px;
    margin : 0,auto;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    background-color: aqua;
    color: brown;
    padding: 2rem;
    border-radius: 8px;
   
}
